.Story-ContentEditable:hover{
    border: solid 1px black;
    border-radius: 5px;
}

.HeaderBarButton-Button{
    border-radius: 0px !important;
    width: 49px;
    height: 31px;
}

.HeaderBar{
	background-color: white;
	width: 100vw;
	height:10vh;
	justify-content: center;
	align-items: center;
}

.public-DraftEditorPlaceholder-inner{
    color: white!important;
}